@model IEnumerable<ProductManagementSystem.Controllers.Item>
@{
    Layout = null;
}
@using ProductManagementSystem.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    <div> 
        <table cellpadding="2" cellspacing="2" border="1">
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                </tr>
            </thead>
            @{ 
                decimal s = 0;
            }
            <tbody>
                @foreach(Item item in (List<Item>)Session["cart"])
                {
                    s = s + item.Pr.product_price.Value * item.Quantity;
                    <tr>
                        <td>@Html.ActionLink("Remove","Delete","ShoppingCart",new {id=item.Pr.product_id}, null)</td>
                        <td>@item.Pr.product_id</td>
                        <td>@item.Pr.product_name</td>
                        <td>@item.Pr.product_price</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Pr.product_price*item.Quantity)</td>
                    </tr>

                }
                <tr>
                    <td align="right" colspan="5">Sum</td>
                    <td>@s</td>
                </tr>
            </tbody>
        </table>
        @Html.ActionLink("Continue Shopping","Profilee","Login")
    </div>
</body>
</html>
